
*.DS_Store

*.pdb

*.exe

*.ilk

*.obj

*.idb

*.tlog

*.log

*.xcbkptlist

*.lastbuildstate

*.unsuccessfulbuild

*.pgc

*.pgd

*.user

*.user.*

*.sln

*.suo

*.cache

*.vcxproj

*.vcxproj.filters

moc_*.*

*.pbxproj

*.mak

*.xcscheme

*.xcuserstate

*.xcsettings

*.xccheckout

*.xcworkspacedata

*.plist

*.dll

*.exp

*.lib

local/*

*.vsp

*.psess
